<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="paket.kas.travelkas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TraveKas"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="paket.kas.travelkas.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="paket.kas.travelkas.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="paket.kas.travelkas.activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="paket.kas.travelkas.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="paket.kas.travelkas.activity.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="paket.kas.travelkas.activity.BookKeretaActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>